.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align:center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
    padding: 0px 4% 0% 4%;
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

.blogAuthor p{
display: inline-block;
margin:0;
}
.blogAuthor button{
    float:right;
}
.blogAuthor button{
    background-color:#ef3b65;
    color:white;
    padding: 1% 3% 1% 3%;
    border: 2px solid #ef3b65;
    box-shadow: 0px 2px 5px 0px #ef3b65;
    font-size:13px;
}
#thumbsUp{
    background-color:#ef3b65;
    color:white;
    padding: 1% 3% 1% 3%;
    border: 2px solid #ef3b65;
    box-shadow: 0px 2px 5px 0px #ef3b65;
    font-size:13px; 
}
#commentButton{
    background-color:#ef3b65;
    color:white;
    padding: 1% 3% 1% 3%;
    border: 2px solid #ef3b65;
    box-shadow: 0px 2px 5px 0px #ef3b65;
    font-size:13px;
}
#commentsContainer{
    background: #e2e4e6;
    padding: 1%;
}
#commentsContainer p {
    background: white;
    padding: 2%;
}